<h1>Welcome Back</h1>

<p>Many people take no care of their money till they come nearly to the end of it, and others do just the same with their time.</p>
<p id = quote>Johann Wolfgang von Goeth</p>


<table>
  <tr>
    <th>Date</th>
    <td></td>
    <th>Merchant</th>
    <th>Cost</th>
    <th>Type Tag</th>
  </tr>
  <% @transaction.first(3).each do |transaction| %>
  <tr>
    <td><a href="/transactions/<%= transaction.id %>"><%= transaction.transaction_date %></a></td>
    <td>|</td>
    <td><%= transaction.merchant.name %></td>
    <td>£<%= '%.2f' %(transaction.value.to_f/100) %></td>
    <td><%= transaction.tag.name %></td>
  </tr>
  <% end %>
</table>
